<a href="/users/create" style="float:right;">Create New</a>
<ul class="people_list">
Create user

  <form method="post" action="/users">
<table class="table table-striped" border="1">
<tr>
  <th>First Name</th>
   <th><input type="text" class="form-control"  name="firstName"></th>
  </tr>
  <tr>
  <th>Last Name</th>
   <th><input type="text" class="form-control"   name="lastName"></th>
  </tr>
   <tr>
  <th>Email</th>
   <th><input type="text" class="form-control"   name="email"></th>
  </tr>
   <tr>
  <th></th>
   <th><input type="submit" class="btn btn-success" value="Save"></th>
  </tr>
</table>
</form>

</ul>